
/* @media screen and (max-width:1067px){

    .form-date{
        display: flex;
    }
} */

.booking-btn{
    width: 260px;
    background-color: rgb(7, 245, 245);
    color: rgb(7, 28, 67);
    
    font-weight: 500;
    padding: 9px 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(6, 29, 99);
    border: none;
    margin-left: 60px;
}
.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    color:white
}
.booking-btn:hover{
    background-color: rgb(5, 73, 199) ;
    color: white;
    font-weight: 500;
}

@media screen and (max-width:767px){

    .form-date{
        display: flex;
        flex-direction: column;
    }
}